* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li, a {
    font-family: Arial, SansSerif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header {
    background-color: #0020F4;
    height: 318px;
    padding: 30px 10%;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    cursor: pointer;
}

.nav-menu {
    list-style: none;
}
.nav-menu li {
    padding: 0 20px;
    display: inline-block;
}

.nav-menu li a {
    transition: all 0.3s ease 0s;
}

.nav-menu li a:hover {
    color: coral;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-top: 45px;
}

.middle-logo {
    display: inline-block;
    position: relative;
    bottom: 80px;
    width: 1195px;
    height: 600px;
}

.middle-images img{
    margin-right: 10px;
    margin-left: 9px;
    object-fit: contain;
    width: 219px;
    height: 219px;
}

.paragraph-items{
    text-align: justify;
    width: 951px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
}

.paragraph-items p {
    margin-top: 15px;
}

.additional-info {
    width: 341px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0020F4;
    border-radius: 28px;
    margin-top: 30px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.additional-info a {
    color: #fff;
}

